@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');

:root {
  --violet-10: #fcfbfe;
  --violet-50: #f5f3ff;
  --violet-100: #ede9fe;
  --violet-200: #ddd6fe;
  --violet-300: #c4b5fd;
  --violet-400: #a78bfa;
  --violet-500: #8b5cf6;
  --violet-600: #7c3aed;
  --violet-700: #6d28d9;
  --violet-800: #5b21b6;
  --violet-900: #4c1d95;
  --violet-950: #2e1065;

  --slate-10: #fdfdfe;
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
  --slate-950: #020617;

  --emerald-500: #10b981;
  --emerald-100: #d1fae5;

  --rose-500: #f43f5e;
  --rose-100: #ffe4e6;

  --roboto-flex: "Roboto Flex", google-sans, open-sans, sans, sans-serif;
  --bona-nova-sc: "Bona Nova SC", times-new-roman, sans-serif;
  --bebas-neue: "Bebas Neue", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--roboto-flex);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--violet-950);
}